.megaMenuLeftPanel {
  width: 30%;
}

.megaMenuRightPanel {
  width: 70%;
}

.text11 {
  font-size: 11px;
}

.text13 {
  font-size: 13px;
}

.text15 {
  font-size: 15px;
}

.mobileMenu {
  top: 80px;
}
